<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruited Students</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <style media="screen">
    p.text-uppercase.text-right.author{
margin-right:80px;
margin-top:100px;
}
div.outercontainer{
  margin-top: 50px;
}
div.row.cgpa{
  margin-top: 20px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
</head>
<body>
  <div class="outercontainer">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img src="/assets/img/logo_chitkara_black.png" width="200" height="50"></div>
            <div  class="col-md-6">
                <p style="vertical-align:middle;padding:5px;text-align:right;">Last Applying Date :<span style="text-decoration:underline;"><%=company.lastDate%></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Min. CGPA : <%=company.minCgpa%></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Type Of Company</th>
                        <th>Profile Required</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%=company.companyName%></td>
                        <td><%=company.typeCompany%></td>
                        <td><%=company.projectSkill%></td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Student Name</th>
                        <th>Roll Number </th>
                        <th>E-Mail ID</th>
                        <th>CGPA Obt</th>
                    </tr>
                </thead>
                <tbody>
    <%  var c=company.projectSkill.toLowerCase()%>
    <%  var count=0                             %>
    <%  var companySkill=c.split(",")           %>
    <%  var s                                   %>
    <%  var studentSkill                        %>
    <%  var count=1;                            %>
    <%  student.forEach(function(Student){      %>
    <%    count=0                               %>
    <%    if(Student.eduGradCgpaObt>=company.minCgpa){     %>
    <tr>
         <%       s=Student.skillTag.toLowerCase()         %>
         <%       studentSkill=s.split(",")                %>
         <%       companySkill.forEach(function(cSkill){   %>
         <%         studentSkill.forEach(function(User){   %>
         <%           if(cSkill==User){ %>
         <%               count=count+1 %>
         <%                           } %>
         <%                                }) %>
         <%                                }) %>
           <% if(count==companySkill.length){ %>
           <tr>
            <td><%=count%></td>   
            <td><%=Student.firstName%> <%=Student.midName%> <%=Student.lastName%></td>   
            <td><%=Student.rollNo%></td>   
            <td><%=Student.mailId%></td>   
            <td><%=Student.eduGradCgpaObt%></td>   
           </tr>
            <%   count++                      }     %>
            <%                             }  %>
            <% });                            %>
                </tbody>
                <caption>Students Selected for Recruitment:</caption>
            </table>
        </div>
    </div>
    <p class="text-uppercase text-right author">Authorized Signatory</p>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
