<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <style media="screen">
    p.text-uppercase.text-right.author{
margin-right:80px;
margin-top:100px;
}
div.outercontainer{
  margin-top: 50px;
}
div.row.cgpa{
  margin-top: 20px;
}
</style>
</head>
<body>
  <div class="outercontainer">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img src="/assets/img/logo_chitkara_black.png" width="200" height="50"></div>
            <div  class="col-md-6">
                <% var d=new Date(); var day=d.getDate();%>
                <% var month=d.getMonth(); var year=d.getFullYear();%>
                <p style="vertical-align:middle;padding:5px;text-align:right;">Date : <%=day%>/<%=month%>/<%=year%></p>
            </div>
      <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <h4>Personal Details:</h4></div>
             <div class="col-md-3">
                 <p>Full Name :</p>
                 <p class="attribvalue"><%= student[0].firstName %> <%= student[0].midName %> <%= student[0].lastName %></p>
             </div>
             <div class="col-md-3">
                 <p>Mobile No :</p>
                 <p class="attribvalue"><%=student[0].mobileNo%></p>
             </div>
             <div class="col-md-3">
                 <p>Gender :</p>
                 <p class="attribvalue"><%=student[0].gender%></p>
             </div>
             <div class="col-md-3">
                 <p>Date of Birth :</p>
                 <p class="attribvalue"><%=student[0].dob%> </p>
             </div>
         </div>
     </div>

     <div class="container">
         <div class="row">
             <div class="col-md-3">
                 <p>E-Mail ID :</p>
                 <p class="attribvalue"><%=student[0].mailId%></p>
             </div>
         </div>
     </div>
   </div>
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <h4>Address :</h4></div>
             <div class="col-md-3">
                 <p>Permanent Address :</p>
                     <address class="attribvalue">
                      <%=student[0].houseNo%> <%=student[0].town%>
                      <%=student[0].street%> <%=student[0].state%>
                      <%=student[0].pinCode%>
                     </address>
             </div>
             <div class="col-md-3">
                 <p>Pincode :</p>
                 <p class="attribvalue"><%=student[0].pinCode%> </p>
             </div>
         </div>
     </div>
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <h4>Education &amp; Qualification</h4>
                 <div class="table-responsive">
                     <table class="table">
                         <thead>
                             <tr>
                                 <th>School Name</th>
                                 <th>Type </th>
                                 <th>Board </th>
                                 <th>Year of Passing</th>
                                 <th>Stream</th>
                                 <th>CGPA.Obt </th>
                                 <th>CGPA.Max </th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td><%=student[0].edu10Name%></td>
                                 <td><%=student[0].edu10Type%></td>
                                 <td><%=student[0].edu10Board%></td>
                                 <td><%=student[0].edu10Year%></td>
                                 <td><%=student[0].edu10Stream%></td>
                                 <td><%=student[0].edu10CgpaObt%></td>
                                 <td><%=student[0].edu10CgpaMax%></td>
                             </tr>
                                                          <tr>
                                 <td><%=student[0].edu12Name%></td>
                                 <td><%=student[0].edu12Type%></td>
                                 <td><%=student[0].edu12Board%></td>
                                 <td><%=student[0].edu12Year%></td>
                                 <td><%=student[0].edu12Stream%></td>
                                 <td><%=student[0].edu12CgpaObt%></td>
                                 <td><%=student[0].edu12CgpaMax%></td>
                             </tr>
                                                          <tr>
                                 <td><%=student[0].eduGradName%></td>
                                 <td><%=student[0].eduGradType%></td>
                                 <td><%=student[0].eduGradBoard%></td>
                                 <td><%=student[0].eduGradYear%></td>
                                 <td><%=student[0].eduGradStream%></td>
                                 <td><%=student[0].eduGradCgpaObt%></td>
                                 <td><%=student[0].eduGradCgpaMax%></td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <h4>Technical Skills &amp; Projects </h4>
                 <ul>
                     <% var skills=student[0].skillTag; %>
                     <% var output=skills.split(","); %>
                     <% output.forEach(function(tags){ %>
                         <li>
                             <%=tags%>
                         </li>
                     <% }); %>

                 </ul>
             </div>
         </div>
     </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
